fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
pydantic-settings
python-multipart
argon2-cffi
python-jose[cryptography]
google-genai
google-api-core
httpx
minio
pypdf
celery
redis
boto3
passlib[bcrypt]
aiofiles
email-validator